.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    // padding: 10px 4%;
    background-color: white;
    box-shadow: 0 0px 9px rgba(0, 0, 0, 0.27);
    position: absolute;
    top: 0;
    width: 100%;

    @media screen and (max-width: 600px) {
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;


        &__image {
            background-color: black;
            height: 100%;
            max-width: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3px 10px;
            box-sizing: content-box;
            margin-right: 10px;

            @media screen and (max-width: 1024px) {
                max-width: 65px;
            }

            @media screen and (max-width: 600px) {
                max-width: 60px;
            }
    
        }

        & img {
            width: 100%;
        }

        & p {
            margin: 0;
            font-weight: bolder;
            color: black;
            font-size: 18px;
            padding-right: 25px;
            border-right: 1px solid #8E8E8E;
            margin: 10px 0;

            @media screen and (max-width: 1024px) {
                font-size: 16px;
            }

            @media screen and (max-width: 600px) {
                font-size: 15px;
                border: none;
            }
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 0 25px;

    }
}