.slider {
    background-image: url('/assets/images/BG.png');
    background-size: cover;
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4%;
    margin-top: 70px;

    @media screen and (max-width: 1024px) {
        margin-top: 65px;
        background-position: center;
    }

    @media screen and (max-width: 600px) {
        margin-top: 60px;
        background-position: calc(55% - 20px);
    }

    &__text {
        width: 45%;

        @media screen and (max-width: 1024px) {
            width: 53%;
        }

        @media screen and (max-width: 600px) {
            width: 65%;
        }

        & h1 {
            font-size: 45px;
            margin: 0;

            @media screen and (max-width: 1024px) {
                font-size: 35px;
            }

            @media screen and (max-width: 600px) {
                font-size: 25px;
            }
        }

        & p {
            line-height: 1.7;
            font-weight: lighter;
            font-size: 18px;

            @media screen and (max-width: 1024px) {
                font-size: 16px;
            }

            @media screen and (max-width: 600px) {
                font-size: 15px;
                line-height: 1.5;
            }
        }

    }
}